*{
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .logo {
    font-weight: 900;
    font-size: 22px;
}

ul.navigation {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.dark-bg {
    background-color: #1F2937;
    color: #F9FAF8;
}

.light-bg {
    background-color: #E5E7EB;
}

.container {
   max-width: 1200px;
   margin: auto;
}

.narrow-container {
    max-width: 800px;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.wide {
    justify-content: space-between;
}

.first div {
    width: 500px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.left {
    align-items: flex-start;
}

header{
    padding: 8px 0;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.signup {
    background-color: #3B82F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 40px 80px;
}

.signup-title {
    font-size: 18px;
    font-weight: 900;
}

.first,
.second,
.third,
.fourth {
    min-height: 60vh;
}

.second {
    align-items: center;
}

.card {
    width: 150px;
    text-align: center;
}

.rounded-rectangle {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 3px solid #3B82F6;
    border-radius: 10px;
}

.testimonial {
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
}

.author {
    text-align: end;
    font-weight: 900;
}

button {
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: 600;
}

.dark-button {
    background-color: #3B82F6;
    color: #F9FAF8;
    border: none;
}

.light-button {
    background-color: unset;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
}